@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #982B1C;
    font-family: Arial, sans-serif;
    color: white;
    line-height: 1.6;
   background-image: url(../image/background.png);
}
/* chatgdp heeft me uit gelegt het verschill in px en vw want ik mag geen px gebruiken*/
header {
    background-color: #982B1C;
    padding: 2vw;
    width: 100%; }


/* Google Fonts*/
h1 {
    text-align: center;
    padding: 2em;
    border: 2em #982B1C;
    background:#282728;
    color: #982B1C; 
     font-family: 'Nosifer', serif;
     font-size: 2vw;  
}
 h1 .logopodcast{
    font-size: 2.5rem;
}

h3 {
    text-align: center;
    color: white;
    padding: 2vw;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw; 
}

.logo-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border: 2em #982B1C;
    background:#282728;
    color: #982B1C; 
}
.logopodcast {
    width: 3cm;;
    height: 3cm;  
}

@keyframes fadeIn {
    from {
      opacity:0;
    } 
    to{
      opacity:1;
    }
  }
.logopodcast {
  animation: fadeIn 2s infinite forwards;
}  

/* website geeksforgeeks heeft me laten zien hoe navbar beter werkt*/
nav ul {
    display: flex;
    list-style: none;
    padding-top: 1vw;
    font-size: medium;
    justify-content: center;
}
nav ul li {
    padding: 0 1.5vw;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: red;
    transform: scale(1.2) rotate(10deg);   
}



img {
    width: 7cm;
    height: 7cm;  
}
.room {
    display: flex;
    justify-content: center;
    align-items: center;   
}


p { color: white;
    justify-content: start;
    text-align: center;
}

.main{
    padding-bottom: 10%;
}

.pics image{
    width: 100%;                
    height: auto;                
    margin-bottom: 1em;
}   
.pics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;  
    gap: 2em;                       
    padding: 2em 0;  
}


.contact {
    background-color: #282728;
    padding: 5vw 0;
    text-align: center;
}
.contact a {
    color: #982B1C;
    text-decoration: none;
}


footer {
    background-color: #982B1C;
    padding: 2vw;
    text-align: center;
    width: 100%;
}

footer p {
    color: white;
}

div {
    text-align: center;
}


/* episodes */
.ep1  {
    display: flex;
    align-items: center;
    padding: 1em 0;
}
.ep1 image{
    width: 15vw;                     
    height: auto;                     
    margin-right: 1em;  
}
.ep1 p{
    color: white;
    line-height: 1.5;
}

.ep2  {
    display: flex;
    align-items: center;
    padding: 1em 0;  
}
.ep2 image{
    width: 15vw;                     
    height: auto;                     
    margin-right: 1em;  
}
/* Make text easier to read  from chatgdp (lineheight)*/
.ep2 p{
    color: white;
    line-height: 1.5;
}